@charset "UTF-8";

body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
header{
    background-color: lightcyan;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px gray;
    
}
nav{
    background-color: lightgray;
    color: aliceblue;
    padding: 3px;
    width: 200px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;

}
.link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    max-width: 30px;

}
.link:hover{
    color: yellow;
}
article{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;


}
aside{
    background-color: lightgrey;
    padding-left: 10px;
    box-shadow: 2px 2px 5px gray;
}
main{
    background-color: lightcyan;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px gray;
}
footer{
    background-color: black;
    color: white;
    padding: 1px;
    text-align: center;

    
}
footer > p{
    margin: 0px;
}
